@font-face {
    font-family: 'awesome_possum_demoshine';
    src: url('font/awesome_possum_shine_demo-webfont.woff2') format('woff2'),
         url('font/awesome_possum_shine_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'awesome_possum_shine_demo-webfont';
}

//header//
.logo {
    display: flex;
    background-color: deepskyblue;
}

.logo img{
    width: 500px;
    height: 200px;
    border-radius: 50%;  
}

h1, .btn_connexion a{
    color: rgb(99, 214, 64);
    text-shadow: white 1px 1px 1px;
    
    }
.btn_connexion{
    margin-left: 1000px;
    margin-top: 50px;
    position: absolute;
    right: 10px;
    top: -50px;
}
.btn_connexion img{
    width: 100px;
    height: 100px;
}

.btn_connexion:hover{
    background-color:purple;
    border-radius: 15px;
    
}

.btn_connexion ul{
    padding: 5px;
}

.btn_connexion ul:hover .menu_li{
    opacity: 1;
}

.btn_connexion li{
    list-style: none;
    text-align: center;
}

.btn_connexion .menu_li{
    opacity: 0;
}

.btn_connexion a{
    display: block;
    font-size:1.4rem
}

//nav

.navbar{
    background-color: yellow;
    text-shadow: 0 0 1px black;
    box-shadow: 1px 1px 3px black;
    border-radius: 0 0 10px 0;
    font-family: "awesome_possum_shine_demo-webfont";
    width: 700px;
    
}
  
.navbar a{
    background-color: red;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;    
}

.navbar a:hover{
        background-color: greenyellow;
        text-shadow: white 1px 1px 1px;
}
   
//nav_left//
.nav_left{
    float: left;
    width: 260px;
    height: 1500px;
    background-color: deepskyblue;
}

.nav_left p{
    font-weight: 900;
    font-size: 1.8em;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 0;
    text-shadow: white 1px 1px 1px;
}

.nav_left span{
    color : yellow;
    
}

.nav_left .span2{
    color: red;
}

//Page connexion //
.connexion h1{
    text-align: center;
    margin-bottom: 50px;
}

.connexion label{
    margin-right: 30px;
}
.connexion article,.connexion h2,.connexion p{
    text-align: center;
}

//Page inscription
.inscription h1{
    text-align: center;
}
.inscription form{
    margin-top: 50px;
}
.inscription label,.inscription .btn,.inscription p{
    margin-left: 650px;
}

.inscription input{
    margin-left: 10px;
}
