@font-face {
    font-family: 'awesome_possum_demoshine';
    src: url('font/awesome_possum_shine_demo-webfont.woff2') format('woff2'),
         url('font/awesome_possum_shine_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'awesome_possum_shine_demo-webfont';
}

h2{
    color: slateblue;
}

//header//
.logo {
    display: flex;
    background-color: deepskyblue;
    
    img{
        width: 500px;
        height: 200px;
        border-radius: 50%;
    }  
}

h1, .btn_connexion a{
    color: rgb(99, 214, 64);
    text-shadow: white 1px 1px 1px;
    
    }
.btn_connexion{
    margin-left: 1000px;
    margin-top: 50px;
    position: absolute;
    right: 10px;
    top: -50px;

    img{
    width: 100px;
    height: 100px;
    }
}
.btn_connexion:hover{
    background-color:purple;
    border-radius: 15px;
    
}

.btn_connexion ul{
    padding: 5px;
}

.btn_connexion ul:hover .menu_li{
    opacity: 1;
}

.btn_connexion li{
    list-style: none;
    text-align: center;
}

.btn_connexion .menu_li{
    opacity: 0;
}

.btn_connexion a{
    display: block;
    font-size:1.4rem
}

//nav

.navbar{
    background-color: yellow;
    text-shadow: 0 0 1px black;
    box-shadow: 1px 1px 3px black;
    border-radius: 0 0 10px 0;
    font-family: "awesome_possum_shine_demo-webfont";
    width: 700px;
    
    a{
    background-color: red;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;    
    }

    a:hover{
        background-color: greenyellow;
        text-shadow: white 1px 1px 1px;
    }
}   
//nav_left//
.nav_left{
    float: left;
    width: 260px;
    height: 1500px;
    background-color: deepskyblue;
}

.nav_left p{
    font-weight: 900;
    font-size: 1.8em;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 0;
    text-shadow: white 1px 1px 1px;
}

.nav_left span{
    color : yellow;
    
}

.nav_left .span2{
    color: red;
}
//nav_admin
.nav_admin{
    display: flex;
    a{
        margin-left: 10px;
    }
}

//Page Utilisateur
.utilisateur h1{
    margin-left: 300px;
    margin-top: 30px;
}
table{
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 30px;
    td{
        border: 1px solid black;
        width: 150px;
        text-align: center;
        i{
            padding: 10px;
        }
    }
}

//Page connexion //
.connexion h1{
    text-align: center;
    margin-bottom: 50px;
}

.connexion label{
    margin-right: 30px;
}
.connexion article,.connexion h2,.connexion p{
    text-align: center;
}

//Page inscription
.inscription h1{
    text-align: center;
}
.inscription form{
    margin-top: 50px;
}
.inscription label,.inscription .btn,.inscription p{
    margin-left: 650px;
}

.inscription input{
    margin-left: 10px;
}

//Page profil
.tinymce{
    margin-left: 500px;
    margin-top: 50px;
}

//Page accueil
.accueil_h2{
    margin-top: 30px;
    margin-left: 300px;
}

.article{
    margin-left:500px;
    margin-top: 30px;
    width: 1000px;
    .pseudo{
        background-color: skyblue;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        text-shadow: 5px 5px 5px white;
    }
    img{
        width: 800px;
        min-height: 400px;
    }
}

//Page video
.dessin_anime{
    margin-left: 300px;
    margin-top: 30px;
}

iframe{
    margin-right: 20px;
}

//Page dessin
.dessin h2{
    margin-left: 300px;
    margin-top: 30px;
}
.canvas_couleur{
    display: flex;
    width: 1100px;
    margin-top: 30px;
    .couleur{
        width: 200px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
    }
        .noir{
            background-color: black;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .jaune{
            background-color: yellow;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .rouge{
            background-color: red;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .bleu{
            background-color: blue;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .vert{
            background-color: green;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .rose{
            background-color: pink;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .gris{
            background-color: grey;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .blanc{
            background-color: white;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .violet{
            background-color: violet;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .orange{
            background-color: orange;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .turquoise{
            background-color:turquoise;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        .brun{
            background-color:brown;
            border: 1px solid black;
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
        }
        
        
}

.dessin button{
        margin-left: 300px;
}
canvas{
    
    border: solid 2px black;
    margin-left: 300px;
}

.coloriage{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    background-color:lightcoral;
    padding-top: 30px;
    padding-left: 30px;
    width: 1350px;
    border-radius: 15px;
    .dessin_coloriage{
        margin-right: 30px;
        margin-bottom: 30px;
    }
    img{
        width: 300px;
        height: 300px;
    }
}

//Page_article
.page_article form{
    margin-left: 500px;
    margin-top: 50px;
}