@font-face {
  font-family: "awesome_possum_demoshine";
  src: url("font/awesome_possum_shine_demo-webfont.woff2") format("woff2"), url("font/awesome_possum_shine_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "awesome_possum_shine_demo-webfont";
}

h2 {
  color: slateblue;
}

h3 {
  color: orangered;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: deepskyblue;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.logo img {
  width: 500px;
  height: 200px;
  border-radius: 50%;
}

h1, .btn_connexion a {
  color: #63d640;
  text-shadow: white 1px 1px 1px;
}

.connexion_membre {
  display: none;
}

.btn_connexion img {
  width: 100px;
  height: 100px;
}

.btn_connexion:hover {
  background-color: purple;
  border-radius: 15px;
}

.btn_connexion ul {
  padding: 5px;
}

.btn_connexion ul:hover .menu_li {
  opacity: 1;
}

.btn_connexion li {
  list-style: none;
  text-align: center;
}

.btn_connexion .menu_li {
  opacity: 0;
}

.btn_connexion a {
  display: block;
  font-size: 1.4rem;
}

.navbar {
  background-color: yellow;
  text-shadow: 0 0 1px black;
  -webkit-box-shadow: 1px 1px 3px black;
  box-shadow: 1px 1px 3px black;
  border-radius: 0 0 10px 0;
  font-family: "awesome_possum_shine_demo-webfont";
  width: 700px;
}
.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.navbar li {
  list-style: none;
}
.navbar a {
  background-color: red;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 10px;
}
.navbar a:hover {
  background-color: greenyellow;
  text-shadow: white 1px 1px 1px;
}

.nav_left {
  float: left;
  width: 260px;
  height: 1500px;
  background-color: deepskyblue;
}

.nav_left p {
  font-weight: 900;
  font-size: 1.8em;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 0;
  text-shadow: white 1px 1px 1px;
}

.nav_left span {
  color: yellow;
}

.nav_left .span2 {
  color: red;
}

.nav_admin, .nav_moderateur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav_admin a, .nav_moderateur a {
  margin-left: 10px;
  padding: 10px;
  background-color: blueviolet;
  border-radius: 0 0 15px 15px;
  color: black;
  font-weight: bold;
}

.utilisateur h1 {
  margin-left: 300px;
  margin-top: 30px;
}

.utilisateur table {
  border: 1px solid black;
  margin-left: 200px;
  margin-top: 30px;
}
.utilisateur table td {
  border: 1px solid black;
  width: 150px;
  text-align: center;
}
.utilisateur table td i {
  padding: 10px;
}

.message h1, .commentaire h1 {
  margin-left: 300px;
  margin-top: 30px;
  margin: 0;
  text-align: center;
}
.message h2, .commentaire h2 {
  margin-left: 50px;
  margin-top: 50px;
}

.message table, .commmentaire table {
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 250px;
}
.message table td, .commmentaire table td {
  border: 1px solid black;
  text-align: center;
  min-width: 100px;
  max-width: 800px;
  max-height: 200px;
}
.message table td i, .commmentaire table td i {
  padding: 10px;
}
.message table td img, .commmentaire table td img {
  max-width: 800px;
  max-height: 650px;
  max-height: 200px;
}

.connexion h1 {
  text-align: center;
  margin-bottom: 50px;
}

.connexion label {
  margin-right: 30px;
}

.connexion article, .connexion h2, .connexion p {
  text-align: center;
}

.inscription h1 {
  text-align: center;
}

.inscription form {
  margin-top: 50px;
}

.inscription label, .inscription .btn, .inscription p {
  margin-left: 650px;
}

.inscription input {
  margin-left: 10px;
}

.tinymce {
  margin-left: 500px;
  margin-top: 50px;
}

.accueil_h2 {
  margin-top: 30px;
  margin-left: 300px;
}

.pokemon_h3 {
  margin-top: 30px;
  margin-left: 500px;
}

.accueil span {
  font-weight: bold;
}

.pere_noel {
  margin-top: 30px;
  width: 1200px;
  margin-left: 270px;
  position: relative;
  background-color: black;
  display: block;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.snow__layer {
  position: absolute;
  left: -100px;
  right: -100px;
  -webkit-animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  -webkit-perspective: 100px;
  perspective: 100px;
  -webkit-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}

.snow__fall {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2000px;
  background: url(http://projet2-office-du-tourisme-ireki.com/wp-content/image/snow-light.png);
  -webkit-animation: fall 10s linear infinite;
  animation: fall 10s linear infinite;
}

.snow__layer:nth-child(1) {
  -webkit-animation-duration: 35s;
  animation-duration: 35s;
}

.snow__layer:nth-child(1) .snow__fall {
  background: url(http://projet2-office-du-tourisme-ireki.com/wp-content/image/snow-blur.png);
  -webkit-transform: translateZ(250px);
  transform: translateZ(250px);
  -webkit-animation-name: fallblur;
  animation-name: fallblur;
  width: 4000px;
  left: -2000px;
}

.snow__layer:nth-child(2) {
  -webkit-animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
}

.snow__layer:nth-child(2) .snow__fall {
  background: url(http://projet2-office-du-tourisme-ireki.com/wp-content/image/snow-medium.png);
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
}

.snow__fall:nth-child(3) {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  background-size: 250px;
}

.snow__fall:nth-child(2) {
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
  background-size: 500px;
}

.snow__layer:nth-child(4) .snow__fall {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-transform: translateZ(500px);
  transform: translateZ(500px);
  -webkit-animation-name: falllight;
  animation-name: falllight;
}

@-webkit-keyframes fall {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes fall {
  from {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes falllight {
  from {
    -webkit-transform: translateY(-100px) translateZ(500px);
    transform: translateY(-100px) translateZ(500px);
  }
}
@keyframes falllight {
  from {
    -webkit-transform: translateY(-100px) translateZ(500px);
    transform: translateY(-100px) translateZ(500px);
  }
}
@-webkit-keyframes fallblur {
  from {
    -webkit-transform: translateY(-100px) translateZ(250px);
    transform: translateY(-100px) translateZ(250px);
  }
}
@keyframes fallblur {
  from {
    -webkit-transform: translateY(-100px) translateZ(250px);
    transform: translateY(-100px) translateZ(250px);
  }
}
@-webkit-keyframes wind {
  to {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
@keyframes wind {
  to {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
}
.pere_noel img {
  -webkit-animation: rigth-to-left 15s linear infinite;
  animation: rigth-to-left 15s linear infinite;
}

@-webkit-keyframes rigth-to-left {
  0% {
    -webkit-transform: translateX(891px);
    transform: translateX(891px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes rigth-to-left {
  0% {
    -webkit-transform: translateX(891px);
    transform: translateX(891px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.pokemon {
  margin-top: 30px;
  margin-left: 800px;
}

span img {
  background-color: #f2f2f2;
  border-radius: 10px;
}

.accueil span {
  font-size: 25px;
}

.pokemon_color {
  background-color: yellow;
  width: 100px;
  padding: 0 15px;
  text-align: center;
  border-radius: 15px;
}

.article {
  margin-left: 500px;
  margin-top: 30px;
  width: 1000px;
}
.article .pseudo {
  background-color: skyblue;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 5px 5px 5px white;
}
.article img {
  width: 800px;
  min-height: 400px;
}
.article p {
  font-size: 20px;
}

.accueil i {
  margin-left: 10px;
}

.accueil .pagination {
  margin-left: 600px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.accueil .pagination a {
  color: white;
  font-weight: bold;
}
.accueil .pagination a, .accueil .pagination p {
  padding: 20px 20px 30px 30px;
  text-align: center;
  border: 1px solid black;
  height: 20px;
  margin-left: 15px;
  background-color: cadetblue;
  border-radius: 15px;
}

.video h2 {
  margin-left: 300px;
  margin-top: 30px;
}

.dessin_anime, .reportage, .musique {
  margin-left: 300px;
  margin-top: 30px;
}
.dessin_anime iframe, .reportage iframe, .musique iframe {
  margin-right: 100px;
  float: left;
  position: relative;
  width: 300px;
  height: 200px;
}
.dessin_anime .hide, .reportage .hide, .musique .hide {
  display: none;
}
.dessin_anime .show, .reportage .show, .musique .show {
  display: block;
  -webkit-animation: show 0.5s ease;
  animation: show 0.5s ease;
}
.dessin_anime .pagination, .reportage .pagination, .musique .pagination {
  width: 300px;
  padding: 15px;
  margin-left: 600px;
}
.dessin_anime .prev, .dessin_anime .page, .reportage .prev, .reportage .page, .musique .prev, .musique .page {
  float: left;
}
.dessin_anime div, .reportage div, .musique div {
  display: inline-block;
}

.pagination .prev.disabled, .pagination .next.disabled {
  border-color: gray;
  color: black;
  font-weight: bold;
  pointer-events: none;
  background-color: lightcoral;
  border-radius: 15px;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.pagination .page {
  color: gray;
}

.pagination .prev, .pagination .next {
  color: #000;
  background-color: skyblue;
  font-weight: bold;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: 15px;
  padding: 7px 15px;
  cursor: pointer;
}

.dessin h2 {
  margin-left: 300px;
  margin-top: 30px;
}

.canvas_couleur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin-top: 30px;
}
.canvas_couleur .couleur {
  width: 200px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.canvas_couleur .noir, .canvas_couleur .jaune, .canvas_couleur .rouge, .canvas_couleur .bleu, .canvas_couleur .vert, .canvas_couleur .rose, .canvas_couleur .gris, .canvas_couleur .blanc, .canvas_couleur .violet, .canvas_couleur .orange, .canvas_couleur .turquoise, .canvas_couleur .brun {
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid black;
  cursor: pointer;
}
.canvas_couleur .noir {
  background-color: black;
}
.canvas_couleur .jaune {
  background-color: yellow;
}
.canvas_couleur .rouge {
  background-color: red;
}
.canvas_couleur .bleu {
  background-color: blue;
}
.canvas_couleur .vert {
  background-color: green;
}
.canvas_couleur .rose {
  background-color: pink;
}
.canvas_couleur .gris {
  background-color: grey;
}
.canvas_couleur .blanc {
  background-color: white;
}
.canvas_couleur .violet {
  background-color: violet;
}
.canvas_couleur .orange {
  background-color: orange;
}
.canvas_couleur .turquoise {
  background-color: turquoise;
}
.canvas_couleur .brun {
  background-color: brown;
}
.canvas_couleur .stylo {
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.canvas_couleur .gomme {
  margin-top: 30px;
  margin-left: 30px;
  cursor: pointer;
}
.canvas_couleur i {
  font-size: 30px;
}

.dessin button {
  margin-left: 300px;
}

#enregistrer {
  margin-left: 20px;
}

canvas {
  border: solid 2px black;
  margin-left: 300px;
}

.coloriage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 300px;
  background-color: lightcoral;
  padding-top: 30px;
  padding-left: 30px;
  width: 1350px;
  border-radius: 15px;
}
.coloriage .dessin_coloriage {
  margin-right: 30px;
  margin-bottom: 30px;
}
.coloriage img {
  width: 300px;
  height: 300px;
}

.page_article form {
  margin-left: 500px;
  margin-top: 50px;
}

.page_article .commentaire {
  margin-left: 500px;
  margin-top: 30px;
  width: 1000px;
}
.page_article .commentaire .pseudo {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 5px 5px 5px white;
}
.page_article .commentaire .i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}
.page_article .commentaire a {
  margin-left: 15px;
}

.jeux h2 {
  margin-left: 300px;
  margin-top: 30px;
}

.shifoumi {
  margin-left: 300px;
  margin-top: 50px;
}
.shifoumi button {
  width: 75px;
  height: 75px;
  margin-right: 30px;
}
.shifoumi #puit {
  background-color: transparent;
  border: none;
}
.shifoumi #puit i {
  color: transparent;
}
.shifoumi i {
  font-size: 50px;
  color: blueviolet;
}
.shifoumi .resultat {
  font-size: 50px;
}

.morpion {
  margin-left: 300px;
  margin-top: 50px;
}

#jeu {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 300px;
  margin-left: 300px;
}

.jeux h4 {
  margin-left: 315px;
}

#recommencer {
  margin-left: 30px;
}

.case {
  border: solid 1px black;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  text-align: center;
}

.bienvenu h2 {
  margin-top: 50px;
  margin-left: 30px;
}

.bienvenu .connexion_membre {
  display: block;
}

.bienvenu .btn_connexion img {
  display: none;
}

.slide img {
  width: 50%;
  height: 250px;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  border-radius: 10px;
}

.slide {
  height: 300px;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slide_container p {
  margin-top: 15px;
}

.slide_container p {
  padding-left: 10px;
}

i {
  font-size: 50px;
}

#back, #next {
  color: red;
  border: solid black 3px;
  border-radius: 50%;
  background-color: white;
  margin-left: 30px;
  margin-left: 30px;
}

.prev_next {
  margin-left: 60%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 50px;
}

.bienvenu h3 {
  text-align: center;
}

/*----------------------------------------------------------------------- Media queries -------------------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .logo img {
    width: 150px;
    height: 80px;
  }

  .logo h1 {
    font-size: 15px;
  }

  .btn_connexion {
    margin-top: 10px;
    z-index: 1;
  }
  .btn_connexion img {
    width: 50px;
    height: 50px;
  }

  .btn_connexion a {
    font-size: 15px;
  }

  .navbar {
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding: 0;
  }
  .navbar a {
    width: 75px;
    padding: 5px 0px;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 5px;
  }

  .nav_left {
    width: 100%;
    height: 60px;
    background-color: deepskyblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .nav_left p {
    display: none;
  }
  .nav_left img {
    width: 50px;
    height: 50px;
  }

  .inscription label, .inscription .btn, .inscription p {
    margin-left: 30px;
    margin-top: 10px;
  }

  .inscription input {
    margin-left: 10px;
  }

  .tinymce {
    margin-left: 15px;
    margin-top: 50px;
    width: 300px;
  }

  .tox {
    width: 100% !important;
  }

  .tox-toolbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    width: 100% !important;
  }

  .mce-content-body {
    width: 100% !important;
  }

  .accueil_h2, .pokemon_h3 {
    margin-left: 30px;
  }

  .pere_noel {
    width: 280px;
    margin-left: 20px;
    height: 75px;
  }
  .pere_noel img {
    height: 75px;
    width: 130px;
  }

  @-webkit-keyframes rigth-to-left {
    0% {
      -webkit-transform: translateX(150px);
      transform: translateX(150px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes rigth-to-left {
    0% {
      -webkit-transform: translateX(150px);
      transform: translateX(150px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .pokemon {
    margin-left: 30px;
  }

  .article {
    margin-left: 0;
    width: 90%;
    margin-left: 5%;
  }
  .article img {
    width: 375px;
    max-height: 400px;
  }

  .accueil .pagination {
    margin-left: 40px;
  }

  .video h2 {
    margin-left: 30px;
  }

  .dessin_anime, .reportage, .musique {
    margin-left: 30px;
  }
  .dessin_anime iframe, .reportage iframe, .musique iframe {
    margin-right: 10px;
    width: 150px;
    height: 100px;
  }
  .dessin_anime .pagination, .reportage .pagination, .musique .pagination {
    width: 300px;
    padding: 15px;
    margin-left: 30px;
  }

  .dessin h2 {
    margin-left: 30px;
  }

  .canvas_couleur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
  }
  .canvas_couleur .couleur {
    width: 300px;
    height: 200px;
  }

  .dessin button {
    margin-left: 30px;
  }

  #enregistrer {
    margin-left: 20px;
  }

  canvas {
    margin-left: 0px;
  }

  .coloriage {
    margin-left: 5%;
    padding-left: 30px;
    width: 90%;
  }
  .coloriage img {
    width: 115px;
    height: 115px;
  }

  .jeux h2 {
    margin-left: 30px;
  }

  .shifoumi {
    margin-left: 30px;
  }
  .shifoumi button {
    width: 50px;
    height: 50px;
  }
  .shifoumi i {
    font-size: 30px;
  }
  .shifoumi .resultat {
    font-size: 50px;
  }

  .morpion {
    margin-left: 30px;
  }

  #jeu {
    margin-left: 30px;
  }

  .jeux h4 {
    margin-left: 15px;
  }

  .bienvenu i {
    margin-top: 20px;
  }

  .prev_next {
    margin-left: 45%;
  }
}
@media (min-width: 577px) and (max-width: 992px) {
  .logo img {
    width: 300px;
    height: 150px;
  }

  .logo h1 {
    font-size: 25px;
  }

  .btn_connexion {
    margin-top: 10px;
  }
  .btn_connexion img {
    width: 75px;
    height: 75px;
  }

  .navbar {
    border-radius: 0 0 10px 10px;
    width: 100%;
  }
  .navbar a {
    width: 110px;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 25px;
  }

  .nav_left {
    width: 100%;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .nav_left p {
    display: none;
  }
  .nav_left img {
    width: 75px;
    height: 75px;
  }

  .inscription label, .inscription .btn, .inscription p {
    margin-left: 75px;
    margin-top: 10px;
  }

  .inscription input {
    margin-left: 20px;
  }

  .tinymce {
    margin-left: 15px;
    margin-top: 50px;
    width: 600px;
  }

  .tox {
    width: 100% !important;
  }

  .tox-toolbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    width: 100% !important;
  }

  .mce-content-body {
    width: 100% !important;
  }

  .accueil_h2, .pokemon_h3 {
    margin-left: 30px;
  }

  .pere_noel {
    width: 537px;
    margin-left: 20px;
    height: 75px;
  }
  .pere_noel img {
    height: 75px;
  }

  @-webkit-keyframes rigth-to-left {
    0% {
      -webkit-transform: translateX(394px);
      transform: translateX(394px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes rigth-to-left {
    0% {
      -webkit-transform: translateX(394px);
      transform: translateX(394px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .pokemon {
    margin-left: 300px;
  }

  .article {
    margin-left: 5%;
    width: 90%;
  }
  .article img {
    width: 375px;
    max-height: 400px;
    margin-left: 150px;
  }

  .accueil .pagination {
    margin-left: 40px;
  }

  .video h2 {
    margin-left: 30px;
  }

  .dessin_anime, .reportage, .musique {
    margin-left: 30px;
  }
  .dessin_anime iframe, .reportage iframe, .musique iframe {
    margin-right: 20px;
    width: 150px;
    height: 100px;
  }
  .dessin_anime .pagination, .reportage .pagination, .musique .pagination {
    width: 300px;
    padding: 15px;
    margin-left: 25%;
  }

  .dessin h2 {
    margin-left: 30px;
  }

  .canvas_couleur {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
  }
  .canvas_couleur .couleur {
    width: 300px;
    height: 200px;
  }

  .dessin button {
    margin-left: 30px;
  }

  #enregistrer {
    margin-left: 20px;
  }

  canvas {
    margin-left: 30px;
  }

  .coloriage {
    margin-left: 5%;
    padding-left: 30px;
    width: 90%;
  }
  .coloriage img {
    width: 115px;
    height: 115px;
  }

  .jeux h2 {
    margin-left: 30px;
  }

  .shifoumi {
    margin-left: 30px;
  }
  .shifoumi button {
    width: 50px;
    height: 50px;
  }
  .shifoumi i {
    font-size: 30px;
  }
  .shifoumi .resultat {
    font-size: 50px;
  }

  .morpion {
    margin-left: 30px;
  }

  #jeu {
    margin-left: 30px;
  }

  .jeux h4 {
    margin-left: 15px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .logo img {
    width: 300px;
    height: 150px;
  }

  .logo h1 {
    font-size: 25px;
  }

  .btn_connexion {
    margin-top: 10px;
  }
  .btn_connexion img {
    width: 75px;
    height: 75px;
  }

  .navbar {
    border-radius: 0 0 10px 10px;
    width: 700px;
  }
  .navbar a {
    width: 110px;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 25px;
  }

  .inscription label, .inscription .btn, .inscription p {
    margin-left: 75px;
    margin-top: 10px;
  }

  .inscription input {
    margin-left: 20px;
  }

  .tinymce {
    margin-left: 15px;
    margin-top: 50px;
    width: 900px;
  }

  .tox {
    width: 100% !important;
  }

  .tox-toolbar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
    width: 100% !important;
  }

  .mce-content-body {
    width: 100% !important;
  }

  .accueil_h2, .pokemon_h3 {
    margin-left: 330px;
  }

  .pere_noel {
    width: 673px;
    margin-left: 300px;
    height: 75px;
  }
  .pere_noel img {
    height: 75px;
  }

  @-webkit-keyframes rigth-to-left {
    0% {
      -webkit-transform: translateX(530px);
      transform: translateX(530px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes rigth-to-left {
    0% {
      -webkit-transform: translateX(530px);
      transform: translateX(530px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  .pokemon {
    margin-left: 600px;
  }

  .article {
    margin-left: 330px;
    width: 65%;
  }
  .article img {
    width: 375px;
    max-height: 400px;
    margin-left: 150px;
  }

  .accueil .pagination {
    margin-left: 440px;
  }

  .video h2 {
    margin-left: 30px;
  }

  .dessin_anime, .reportage, .musique {
    margin-left: 330px;
  }
  .dessin_anime iframe, .reportage iframe, .musique iframe {
    margin-right: 20px;
    width: 175px;
    height: 115px;
  }
  .dessin_anime .pagination, .reportage .pagination, .musique .pagination {
    width: 300px;
    padding: 15px;
    margin-left: 25%;
  }
}

/*# sourceMappingURL=styles.css.map */
