
header, footer{
    background-color: grey;
    color: white;
}



h1,h3{
    text-align: center;
}


thead{
    font-weight: bold;
}
/*header*/
header{
    height: 90px;
}

.connexion {
    display: flex;
    justify-content: flex-end;
}

.connexion a,.article a{
    margin: 3px;
}

/*Page Accueil*/
.titre{
    margin: auto;
}
.accuel h1 h3{
    text-align: center;
}

.accueil table{
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.accueil td{
    border: 1px solid black;
    min-width: 150px;
}

/*Page recup_aticle*/
.recup_article td{
    border: 1px solid black;
    min-width: 150px;
}

.recup_article footer{
    position:absolute;
    bottom:0;
    width:1110px;
}

/*Page recup_commentaire*/
.recup_commentaire table{
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.recup_commentaire td{
    border: 1px solid black;
    min-width: 125px;
}

i{
    margin-left: 20px;
}

/*Page article*/
.suivant_precedent{
    text-align: center;
}
.suivant_precedent .button{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
}

.article button{
    margin-bottom: 10px;
}
.article table{
    width: 600px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
    background-color: #E0E0E0;    
}

.article i{
    color: red;
}

/*Page connexion et enregistrement_admin*/
.connexion h1, .enregistrement_admin h1 {
    margin-bottom: 75px;
}
.connexion footer, .enregistrement_admin footer{
    position:absolute;
    bottom:0;
    width:1110px;
}

/*Page creer_billet et modif_article*/
.creer_billet button, .modif_article button{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Page index_article*/
.articles{
    border: 1px solid black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.articles p {
    text-align: center;
}

/*----------------------------------------------------------------------- Media queries -------------------------------------------------------------------------------------*/

    @media (max-width: 576px) {

        /*page index_article*/
        .index_article img{
            width: 250px;
            height: 180px;
        }

        /*Page connexion*/
        .connexion footer{
            width: 240px;
        }
        
    }

    @media (min-width: 576px) and (max-width: 768px){
        /*page index_article*/
        .index_article img{
            width: 400px;
            height: 250px;
        }

        /*Page connexion*/
        .connexion footer{
            width: 500px;
        }
    }

    @media (min-width: 768px) and (max-width: 992px){
        /*Page connexion*/
        .connexion footer{
            width: 690px;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px){
        /*Page connexion*/
        .connexion footer{
            width: 930px;
        }

    }