header, footer{
    background-color: grey;
    color: white;
}



h1,h3{
    text-align: center;
}


thead{
    font-weight: bold;
}
/*header*/
header{
    height: 90px;
}

.connexion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.connexion a,.article a{
    margin: 3px;
}

/*Page Accueil*/
.titre{
    margin: auto;
}
.accuel h1 h3{
    text-align: center;
}

.accueil .titre{
    font-weight: bold;
}

.accueil table{
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.accueil td{
    border: 1px solid black;
    min-width: 150px;
}

/*Page recup_aticle*/
.recup_article td{
    border: 1px solid black;
    min-width: 150px;
    text-align: center;
}

.recup_article footer{
    position:absolute;
    bottom:0;
    width:1110px;
}

/*Page recup_commentaire*/
.recup_commentaire table{
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.recup_commentaire td{
    border: 1px solid black;
    min-width: 125px;
}

i{
    margin-left: 20px;
}

/*Page article*/
.suivant_precedent{
    text-align: center;
    margin-bottom: 50px;
}
.suivant_precedent .button{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;
    border : solid 1px black ;
    border-radius:  5px;
    color : white ;
    background-color :  #5A6268 ;
}

.article button{
    margin-bottom: 10px;
    
}

.bouton {
    border : solid 1px black ;
    border-radius:  5px ;
    color : white ;
    background-color :  #5A6268 ;
    padding :  2px ;
}

.article table{
    width: 600px;
    margin-left: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1000px;
    background-color: #E0E0E0;    
}

.article  .i{
    text-align: end;
}

.signaler{
    width: 50px;
    display: flex;
    align-items: flex-end;
    margin-left: 90%;
}

.article .signaler p{
    opacity: 0;
}

.article .signaler:hover p{
    opacity: 1;
}
.article i{
    color: red;
}

/*Page connexion et enregistrement_admin*/
.connexion h1, .enregistrement_admin h1 {
    margin-bottom: 75px;
}
.connexion footer, .enregistrement_admin footer{
    position:absolute;
    bottom:0;
    width:1110px;
}

/*Page creer_billet et modif_article*/
.creer_billet button, .modif_article button{
    margin-top: 15px;
    margin-bottom: 15px;
}

/*Page index_article*/
.articles{
    border: 1px solid black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.articles p {
    text-align: center;
}



/*----------------------------------------------------------------------- Media queries -------------------------------------------------------------------------------------*/

    @media (max-width: 576px) {

        /*Page accueil*/
        .accueil table{
            border: none;
        }

        .accueil tr td{
            display: block;
        }

        .accueil .texte{
            margin-bottom: 25px;
        }

        /*page index_article*/
        .index_article img{
            width: 250px;
            height: 180px;
        }

        /*Page connexion*/
        .connexion footer{
            width: 240px;
            bottom:0;
            position: relative;
        }
        
        /*Page article*/
        .article img{
            width: 250px;
            height: 180px;
        }

        .article textarea{
            width: 250px;
        }

        .article table{
            margin-left: 0;
            width: 250px;
        }

        .suivant_precedent .button{
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 5px;

        }
    }

    @media (min-width: 576px) and (max-width: 768px){
        /*page index_article*/
        .index_article img{
            width: 400px;
            height: 250px;
        }

        /*Page connexion*/
        .connexion footer{
            width: 500px;
            bottom:0;
            position: relative;
        }
        
         /*Page article*/
         .article img{
            width: 400px;
            height: 250px;
        }

        .suivant_precedent .button{
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 5px;

        }

        .article textarea{
            width:450px;
        }

        .article table{
            margin-left: 0;
            width: 450px;
        }
    }
    

    @media (min-width: 768px) and (max-width: 992px){
        /*Page connexion*/
        .connexion footer{
            width: 690px;
            
        }

        /*Page article*/
        .article img{
            width: 690px;
            height: 450px;
        }

        .suivant_precedent .button{
            margin-left: 60px;
            margin-right: 60px;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 5px;

        }

        .article textarea{
            width:690px;
        }

        .article table{
            margin-left: 0;
            width: 690px;
        }
    }

    @media (min-width: 992px) and (max-width: 1200px){
        /*Page connexion*/
        .connexion footer{
            width: 930px;  
        }

        /*Page article*/

        .article textarea{
            width:558px;
        }

        .article table{
            margin-left: 0;
            width: 558px;
        }
    }
