@font-face {
  font-family: "awesome_possum_demoshine";
  src: url("font/awesome_possum_shine_demo-webfont.woff2") format("woff2"), url("font/awesome_possum_shine_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "awesome_possum_shine_demo-webfont";
}

h2 {
  color: slateblue;
}

.logo {
  display: flex;
  background-color: deepskyblue;
}
.logo img {
  width: 500px;
  height: 200px;
  border-radius: 50%;
}

h1, .btn_connexion a {
  color: #63d640;
  text-shadow: white 1px 1px 1px;
}

.btn_connexion {
  margin-left: 1000px;
  margin-top: 50px;
  position: absolute;
  right: 10px;
  top: -50px;
}
.btn_connexion img {
  width: 100px;
  height: 100px;
}

.btn_connexion:hover {
  background-color: purple;
  border-radius: 15px;
}

.btn_connexion ul {
  padding: 5px;
}

.btn_connexion ul:hover .menu_li {
  opacity: 1;
}

.btn_connexion li {
  list-style: none;
  text-align: center;
}

.btn_connexion .menu_li {
  opacity: 0;
}

.btn_connexion a {
  display: block;
  font-size: 1.4rem;
}

.navbar {
  background-color: yellow;
  text-shadow: 0 0 1px black;
  box-shadow: 1px 1px 3px black;
  border-radius: 0 0 10px 0;
  font-family: "awesome_possum_shine_demo-webfont";
  width: 700px;
}
.navbar a {
  background-color: red;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 10px;
}
.navbar a:hover {
  background-color: greenyellow;
  text-shadow: white 1px 1px 1px;
}

.nav_left {
  float: left;
  width: 260px;
  height: 1500px;
  background-color: deepskyblue;
}

.nav_left p {
  font-weight: 900;
  font-size: 1.8em;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 0;
  text-shadow: white 1px 1px 1px;
}

.nav_left span {
  color: yellow;
}

.nav_left .span2 {
  color: red;
}

.nav_admin, .nav_moderateur {
  display: flex;
}
.nav_admin a, .nav_moderateur a {
  margin-left: 10px;
}

.utilisateur h1 {
  margin-left: 300px;
  margin-top: 30px;
}

.utilisateur table {
  border: 1px solid black;
  margin-left: 200px;
  margin-top: 30px;
}
.utilisateur table td {
  border: 1px solid black;
  width: 150px;
  text-align: center;
}
.utilisateur table td i {
  padding: 10px;
}

.message h1 {
  margin-left: 300px;
  margin-top: 30px;
  margin: 0;
  text-align: center;
}
.message h2 {
  margin-left: 50px;
  margin-top: 50px;
}

.message table {
  border: 1px solid black;
  margin-top: 30px;
  margin-left: 200px;
}
.message table td {
  border: 1px solid black;
  width: 150px;
  text-align: center;
}
.message table td i {
  padding: 10px;
}
.message table td img {
  max-width: 800px;
  max-height: 650px;
}

.connexion h1 {
  text-align: center;
  margin-bottom: 50px;
}

.connexion label {
  margin-right: 30px;
}

.connexion article, .connexion h2, .connexion p {
  text-align: center;
}

.inscription h1 {
  text-align: center;
}

.inscription form {
  margin-top: 50px;
}

.inscription label, .inscription .btn, .inscription p {
  margin-left: 650px;
}

.inscription input {
  margin-left: 10px;
}

.tinymce {
  margin-left: 500px;
  margin-top: 50px;
}

.accueil_h2 {
  margin-top: 30px;
  margin-left: 300px;
}

.accueil p {
  font-weight: bold;
}

.article {
  margin-left: 500px;
  margin-top: 30px;
  width: 1000px;
}
.article .pseudo {
  background-color: skyblue;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 5px 5px 5px white;
}
.article img {
  width: 800px;
  min-height: 400px;
}

.accueil i {
  margin-left: 10px;
}

.video h2 {
  margin-left: 300px;
  margin-top: 30px;
}

.dessin_anime, .reportage {
  margin-left: 300px;
  margin-top: 30px;
}

iframe {
  margin-right: 20px;
}

.dessin h2 {
  margin-left: 300px;
  margin-top: 30px;
}

.canvas_couleur {
  display: flex;
  width: 1100px;
  margin-top: 30px;
}
.canvas_couleur .couleur {
  width: 200px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}
.canvas_couleur .noir, .canvas_couleur .jaune, .canvas_couleur .rouge, .canvas_couleur .bleu, .canvas_couleur .vert, .canvas_couleur .rose, .canvas_couleur .gris, .canvas_couleur .blanc, .canvas_couleur .violet, .canvas_couleur .orange, .canvas_couleur .turquoise, .canvas_couleur .brun {
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 30px;
  border: 1px solid black;
}
.canvas_couleur .noir {
  background-color: black;
}
.canvas_couleur .jaune {
  background-color: yellow;
}
.canvas_couleur .rouge {
  background-color: red;
}
.canvas_couleur .bleu {
  background-color: blue;
}
.canvas_couleur .vert {
  background-color: green;
}
.canvas_couleur .rose {
  background-color: pink;
}
.canvas_couleur .gris {
  background-color: grey;
}
.canvas_couleur .blanc {
  background-color: white;
}
.canvas_couleur .violet {
  background-color: violet;
}
.canvas_couleur .orange {
  background-color: orange;
}
.canvas_couleur .turquoise {
  background-color: turquoise;
}
.canvas_couleur .brun {
  background-color: brown;
}
.canvas_couleur .stylo {
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 30px;
}
.canvas_couleur .gomme {
  height: 20px;
  width: 20px;
  margin-top: 30px;
  margin-left: 30px;
}

.dessin button {
  margin-left: 300px;
}

canvas {
  border: solid 2px black;
  margin-left: 300px;
}

.coloriage {
  display: flex;
  flex-wrap: wrap;
  margin-left: 300px;
  background-color: lightcoral;
  padding-top: 30px;
  padding-left: 30px;
  width: 1350px;
  border-radius: 15px;
}
.coloriage .dessin_coloriage {
  margin-right: 30px;
  margin-bottom: 30px;
}
.coloriage img {
  width: 300px;
  height: 300px;
}

.page_article form {
  margin-left: 500px;
  margin-top: 50px;
}

.page_article .commentaire {
  margin-left: 500px;
  margin-top: 30px;
  width: 1000px;
}
.page_article .commentaire .pseudo {
  background-color: lightcoral;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 5px 5px 5px white;
}
.page_article .commentaire .i {
  display: flex;
  margin-right: 15px;
}

/*# sourceMappingURL=styles.css.map */
