@font-face {
    font-family: 'awesome_possum_demoshine';
    src: url('font/awesome_possum_shine_demo-webfont.woff2') format('woff2'),
         url('font/awesome_possum_shine_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'awesome_possum_shine_demo-webfont';
}

h2{
    color: slateblue;
}

h3{
    color: orangered;
}

//header//
.logo {
    display: flex;
    background-color: deepskyblue;
    
    img{
        width: 500px;
        height: 200px;
        border-radius: 50%;
    }  
}

h1, .btn_connexion a{
    color: rgb(99, 214, 64);
    text-shadow: white 1px 1px 1px;
    
    }
.btn_connexion{
    margin-left: 1000px;
    margin-top: 50px;
    position: absolute;
    right: 10px;
    top: -50px;

    img{
    width: 100px;
    height: 100px;
    }
}
.btn_connexion:hover{
    background-color:purple;
    border-radius: 15px;
    
}

.btn_connexion ul{
    padding: 5px;
}

.btn_connexion ul:hover .menu_li{
    opacity: 1;
}

.btn_connexion li{
    list-style: none;
    text-align: center;
}

.btn_connexion .menu_li{
    opacity: 0;
}

.btn_connexion a{
    display: block;
    font-size:1.4rem
}

//nav

.navbar{
    background-color: yellow;
    text-shadow: 0 0 1px black;
    box-shadow: 1px 1px 3px black;
    border-radius: 0 0 10px 0;
    font-family: "awesome_possum_shine_demo-webfont";
    width: 700px;
    
    a{
    background-color: red;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;
    margin-left: 10px;    
    }

    a:hover{
        background-color: greenyellow;
        text-shadow: white 1px 1px 1px;
    }
}   
//nav_left//
.nav_left{
    float: left;
    width: 260px;
    height: 1500px;
    background-color: deepskyblue;
}

.nav_left p{
    font-weight: 900;
    font-size: 1.8em;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 0;
    text-shadow: white 1px 1px 1px;
}

.nav_left span{
    color : yellow;
    
}

.nav_left .span2{
    color: red;
}
//nav_admin et nav_moderateur
.nav_admin,.nav_moderateur{
    display: flex;
    a{
        margin-left: 10px;
        padding: 10px;
        background-color: blueviolet;
        border-radius: 0 0 15px 15px;
        color: black;
        font-weight: bold;

    }
}

//Page Utilisateur
.utilisateur h1{
    margin-left: 300px;
    margin-top: 30px;
}
.utilisateur table{
    border: 1px solid black;
    margin-left: 200px;
    margin-top: 30px;
    td{
        border: 1px solid black;
        width: 150px;
        text-align: center;
        i{
            padding: 10px;
        }
    }
}

//page message et page commentaire
.message,.commentaire {
    h1{
    margin-left: 300px;
    margin-top: 30px;
    margin: 0;
    text-align: center;
    }
    h2{
        margin-left: 50px;
        margin-top: 50px;
    }
}

.message table,.commmentaire table{
    border: 1px solid black;
    margin-top: 30px;
    margin-left: 250px;
    td{
        border: 1px solid black;
        text-align: center;
        min-width: 100px;
        max-width: 800px;
        max-height: 200px;
        i{
            padding: 10px;
        }
        img{
            max-width: 800px;
            max-height: 650px;
            max-height: 200px;
        }
    }
}

//Page connexion //
.connexion h1{
    text-align: center;
    margin-bottom: 50px;
    
}

.connexion label{
    margin-right: 30px;
}
.connexion article,.connexion h2,.connexion p{
    text-align: center;
}

//Page inscription
.inscription h1{
    text-align: center;
}
.inscription form{
    margin-top: 50px;
}
.inscription label,.inscription .btn,.inscription p{
    margin-left: 650px;
}

.inscription input{
    margin-left: 10px;
}

//Page profil
.tinymce{
    margin-left: 500px;
    margin-top: 50px;
}

//Page accueil
.accueil_h2{
    margin-top: 30px;
    margin-left: 300px;
}

.pokemon_h3{
    margin-top: 30px;
    margin-left: 500px;
}

.accueil p, span{
    font-weight: bold;
}

.pere_noel{
    margin-top: 30px;
    width: 85%;
    margin-left: 270px;
    position: relative;
    background-color: black;
   
}
  
.snow {
  
position: absolute;
top: 0;
left: 0;
right: 0;
bottom:0;
overflow:hidden;
  
}
  
.snow__layer {
  
position: absolute;
left: -100px;
right: -100px;
-webkit-animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
        animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
-webkit-perspective: 100px;
        perspective: 100px;
-webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
        transform: translateX(-50px);
  
}
  
.snow__fall {
  
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
height: 2000px;
background: url(http://projet2-office-du-tourisme-ireki.com/wp-content/image/snow-light.png);
-webkit-animation: fall 10s linear infinite;
        animation: fall 10s linear infinite;
  
}
  
.snow__layer:nth-child(1) {
  
-webkit-animation-duration: 35s;
        animation-duration: 35s;
  
}
  
.snow__layer:nth-child(1) .snow__fall {
background: url(http://projet2-office-du-tourisme-ireki.com/wp-content/image/snow-blur.png);
-webkit-transform: translateZ(250px);
        transform: translateZ(250px);
-webkit-animation-name: fallblur;
        animation-name: fallblur;
width: 4000px;
left: -2000px;
  
}
  
.snow__layer:nth-child(2) {
  
-webkit-animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
        animation: wind 5s cubic-bezier(0.45, 0.05, 0.55, 0.95) infinite alternate;
  
}
  
.snow__layer:nth-child(2) .snow__fall {
  
background: url(http://projet2-office-du-tourisme-ireki.com/wp-content/image/snow-medium.png);
-webkit-animation-duration: 25s;
        animation-duration: 25s;
  
}
  
.snow__fall:nth-child(3) {
  
-webkit-animation-duration: 10s;
        animation-duration: 10s;
background-size: 250px;
  
}
  
.snow__fall:nth-child(2) {
  
-webkit-animation-duration: 20s;
        animation-duration: 20s;
background-size: 500px;
  
}
  
.snow__layer:nth-child(4) .snow__fall {
  
-webkit-animation-duration: 5s;
        animation-duration: 5s;
-webkit-transform: translateZ(500px);
        transform: translateZ(500px);
-webkit-animation-name: falllight;
        animation-name: falllight;
  
}
  
  @-webkit-keyframes fall {
  
from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    }
}
  
@keyframes fall {
  
  from {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
    }
}
  
@-webkit-keyframes falllight {
  
  from {
    -webkit-transform: translateY(-100px) translateZ(500px);
            transform: translateY(-100px) translateZ(500px);
    }
}
  
@keyframes falllight {
  
  from {
    -webkit-transform: translateY(-100px) translateZ(500px);
            transform: translateY(-100px) translateZ(500px);
    }
}
  
@-webkit-keyframes fallblur {
  
  from {
    -webkit-transform: translateY(-100px) translateZ(250px);
            transform: translateY(-100px) translateZ(250px);
    }
}
  
@keyframes fallblur {
  
  from {
    -webkit-transform: translateY(-100px) translateZ(250px);
            transform: translateY(-100px) translateZ(250px);
    }
}
  
@-webkit-keyframes wind {
  
  to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
}
  
@keyframes wind {
  
to {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    }
}
    
    
.pere_noel img{
        animation:rigth-to-left 15s linear infinite;
    }


@keyframes rigth-to-left {
    0%{
        transform: translateX(1300px);
    }
    100%{
        transform: translateX(0);
    }
}

.pokemon{
    margin-top: 30px;
    margin-left: 800px;
}

span img{
    background-color: rgb(242,242,242);
    border-radius: 10px;
}

.accueil span{
    font-size: 25px;
}

.pokemon_color{
    background-color: yellow;
    width: 100px;
    padding: 0 15px;
    text-align: center;
    border-radius: 15px;
}

.article{
    margin-left:500px;
    margin-top: 30px;
    width: 1000px;
    .pseudo{
        background-color: skyblue;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        text-shadow: 5px 5px 5px white;
    }
    img{
        width: 800px;
        min-height: 400px;
    }
}

.accueil i{
    margin-left: 10px;
}

.accueil .pagination{
    margin-left: 600px;
    margin-top: 30px;
    margin-bottom: 30px;
    a{
        color: white;
        font-weight: bold;
    }
    a,p{
        padding: 20px 20px 30px 30px;
        text-align: center;
        border: 1px solid black;
        
        height: 20px;
        margin-left: 15px;
        background-color:cadetblue;
        border-radius: 15px;
    }
}

//Page video
.video h2{
    margin-left: 300px;
    margin-top: 30px;
    
}
.dessin_anime,.reportage,.musique{
    margin-left: 300px;
    margin-top: 30px;
    
    iframe{
        margin-right: 100px;
        float: left;
        position: relative;
    }
    .hide{
        display: none;
    }

    .show{
        display: block;
        animation: show .5s ease;
    }
    .pagination{
        width: 300px;
        padding: 15px;
        margin-left: 600px;
    }
    .prev,.page{
        
        float: left;
    }
    div{
        display: inline-block;
        
    }
}

.pagination .prev.disabled, .pagination .next.disabled{
    border-color: gray;
    color: black;
    font-weight: bold;
    pointer-events: none;
    background-color:lightcoral;
    border-radius: 15px;
}

@keyframes show{
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

 .pagination .page{
    color: gray;
}

.pagination .prev,  .pagination .next{
    color: #000;
    background-color: skyblue;
    font-weight: bold;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: 15px;
    padding: 7px 15px;
    cursor: pointer;
}


//Page dessin
.dessin h2{
    margin-left: 300px;
    margin-top: 30px;
}
.canvas_couleur{
    display: flex;
    width: 1100px;
    margin-top: 30px;
    .couleur{
        width: 200px;
        height: 450px;
        display: flex;
        flex-wrap: wrap;
    }
        .noir,.jaune,.rouge,.bleu,.vert,.rose,.gris,.blanc,.violet,.orange,.turquoise,.brun{
            height: 20px;
            width: 20px;
            margin-top: 30px;
            margin-left: 30px;
            border: 1px solid black;
            cursor: pointer;
        }
        .noir{
            background-color: black;
        }
        .jaune{
            background-color: yellow;
            
        }
        .rouge{
            background-color: red;
            
        }
        .bleu{
            background-color: blue;
        }
        .vert{
            background-color: green;     
        }
        .rose{
            background-color: pink;  
        }
        .gris{
            background-color: grey;
        }
        .blanc{
            background-color: white;    
        }
        .violet{
            background-color: violet;
        }
        .orange{
            background-color: orange;   
        }
        .turquoise{
            background-color:turquoise;   
        }
        .brun{
            background-color:brown;    
        }
        .stylo{
            
            margin-top: 30px;
            margin-left: 30px;
            cursor: pointer;
        }
        .gomme{
            
            margin-top: 30px;
            margin-left: 30px;
            cursor: pointer;
        }   
        i{
            font-size: 30px;
        }    
}

.dessin button{
        margin-left: 300px;
}

#enregistrer{
    margin-left: 20px;
}
canvas{
    
    border: solid 2px black;
    margin-left: 300px;
}

.coloriage{
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    background-color:lightcoral;
    padding-top: 30px;
    padding-left: 30px;
    width: 1350px;
    border-radius: 15px;
    .dessin_coloriage{
        margin-right: 30px;
        margin-bottom: 30px;
    }
    img{
        width: 300px;
        height: 300px;
    }
}

//Page_article
.page_article form{
    margin-left: 500px;
    margin-top: 50px;
}

.page_article .commentaire{
    margin-left:500px;
    margin-top: 30px;
    width: 1000px;
    .pseudo
    {
        background-color: lightcoral;
        padding: 10px;
        border-radius: 5px;
        font-weight: bold;
        text-shadow: 5px 5px 5px white;
    }
    .i{
        display: flex;
        margin-right: 15px;
    }
   a{
       margin-left: 15px;
   }
}

//Page jeux
.jeux h2{
    margin-left: 300px;
    margin-top: 30px;
    
}

.shifoumi{
    margin-left: 300px;
    margin-top: 50px;
    button{
        width: 75px;
        height: 75px;
        margin-right: 30px;
    }
    #puit{
        background-color: transparent;
        border: none;
    }
    #puit i{
        color: transparent;
    }
    i{
        font-size: 50px;
        color: blueviolet;
    }
    .resultat{
        font-size: 50px;
    }

}

.morpion{
    margin-left: 300px;
    margin-top: 50px;
}

#jeu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 300px;
    margin-left: 300px;
}

.case{
    border: solid 1px black;
    height: 100px;
}

/*----------------------------------------------------------------------- Media queries -------------------------------------------------------------------------------------*/

@media (max-width: 576px) {

    .logo img{
        width: 150px;
        height: 50px;
    }

    .accueil h1{
        font-size: 15px;
    }

    .btn_connexion{
        right: 10px;
        top: -55px;
    
        img{
        width: 30px;
        height: 30px;
        }
        a{
            font-size: 10px;
        }
    }
}
